# Exclude dataset directory
data/data_indoor
data/data_outdoor
data/dummy_data
output/
benchmark_results/

# build
__pycache__
*.pt

# scripts
*.pdf

# Exclude Python virtual environment
.venv

# Sphinx documentation build files
docs/build/
docs/_build/
docs/source/_templates/

# Misc
.DS_Store
